<?xml version="1.0" encoding="utf-8" ?>
<odoo>

    <menuitem
        id="menu_hr_payroll_record_of_employment"
        name="Record of Employment"
        parent="hr_work_entry_enterprise.menu_hr_payroll_root"
        sequence="85"
        groups="hr_payroll.group_hr_payroll_manager"/>
        <!--        # Main Form Menu-->

        <menuitem name="Record Of Employment Form" id="record_of_employment.menu_roe" sequence="10"
                  action="record_of_employment.action_record_of_employee" parent="record_of_employment.menu_hr_payroll_record_of_employment"
                  groups="hr_payroll.group_hr_payroll_manager"/>
</odoo>