 /*.table-no-border {*/
 /*       !*border-collapse: collapse;*!*/
 /*       border: none;*/
 /*   }*/

 /*   .table-no-border td, .table-no-border th {*/
 /*       border: none;*/
 /*   }*/
 .custom-td {
        border: none;
        padding: 10px;
        background-color: #F0F0F0;
        text-align: center;
    }